#app {
  display: grid;
  grid-template-columns: 38.79% 61.21%;

  height: 100vh;
  overflow: hidden;
}

aside {
  background-image: url(/assets/Background.png);
  border-radius: 0.75rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 1.25rem;

  & .aside-container {
    max-width: 25rem;
    padding: 2rem;    
  }

  & h1 {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
  }
}

main {
  overflow: auto;
  padding: 1.25rem;  
  background-color: var(--shape-body);
  border-radius: 0.75rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 1.25rem;


  & .main-container {
    max-width: 35rem;
  }

  & .title {
    padding: 5rem 8.125rem 2.5rem 8.125rem;
  }
}